# Web Framework
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9

# Database
sqlalchemy>=2.0.25
alembic>=1.13.1

# Security & Auth
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
# We pin bcrypt to 4.0.1 to avoid the 'passlib' compatibility error we saw earlier
bcrypt==4.0.1

# Utilities
pydantic>=2.6.0
pydantic-settings>=2.1.0
python-dotenv>=1.0.0
aiofiles>=23.2.1
portalocker>=3.0.0
concurrent-log-handler>=0.9.27

# Templating
jinja2>=3.1.3

# Image & File Processing
pillow>=10.2.0
colorthief
rarfile>=4.1
lxml>=5.1.0
#py7zr==0.20.8
watchdog>=3.0.0

# Task scheduling
apscheduler>=3.11.1


