<button x-on:click="toggleOverlayDebug()"
        class="p-2 text-gray-300 hover:text-white rounded hover:bg-white/10 transition-colors"
        :class="{'text-blue-400': overlays.debug}"
        title="Toggle Overlay Debug">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h16v16H4z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16M4 12h16" />
    </svg>
</button>
