{# partials/cover_browser_link.html #}
{% macro cover_browser_link(context, contextId) %}
<a :href="window.parker.route('pages.cover_browser', { context_type: '{{context}}', context_id: {{contextId}} })"
   class="p-2 rounded-full text-gray-400 hover:text-white hover:bg-gray-700 transition-colors"
   title="Cover Browser">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
    </svg>
</a>
{% endmacro %}
