{# partials/page_context.html #}
{# Used for including context-sensitive page data for background FX #}

{% macro page_context(id, colors) %}
<script>

    const cid = "{{ id }}";

    window.parker.page_color_context = {
        backgroundStyle: "{{ background_style if background_style else 'NONE' }}",
        imageUrl: window.parker.route('comics.thumbnail', { comic_id: cid }),
        colors: {
            primary: '{{ colors.primary if colors and colors.primary else "#111111" }}',
            secondary: '{{ colors.secondary if colors and colors.secondary else "#222222" }}',
            accent1: '{{ colors.accent1 if colors and colors.accent1 else "#333333" }}',
            accent2: '{{ colors.accent2 if colors and colors.accent2 else "#444444" }}',
            accent3: '{{ colors.accent3 if colors and colors.accent3 else "#555555" }}'
        }
    };
</script>
{% endmacro %}